@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-vioolet: hsl(273, 4%, 51%);
  --very-light-grey: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--very-dark-violet);
  font-weight: 700;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  max-width: 375px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", sans-serif;
}

ul {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

nav ul {
  display: none;
}

.hero {
  text-align: center;
  color: var(--very-light-grey);
}
.hero-text-container {
  top: -10px;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 100px;
  background-color: var(--dark-violet);

  background-image: url(./images/bg-pattern-intro-left-mobile.svg),
    url(./images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  background-position: left top, right bottom -170px;
  background-origin: padding-box;
  background-size: 30%;
}

.hero-text-container .greyline {
  display: none;
}

.hero-image {
  display: block;
}

button {
  background-color: var(--dark-violet);
  border-style: solid;
  border-color: var(--very-light-grey);
  padding: 10px 20px 10px 20px;
  margin: 20px;
  color: var(--very-light-grey);
  cursor: pointer;
  font-weight: 700;
  font-family: "Karla", sans-serif;
}

.about-us {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greyline {
  height: 3px;
  background-color: var(--dark-grayish-vioolet);
  width: 200px;
  align-items: center;
}
.about-us-container {
  margin-top: 50px;
  margin-bottom: 50px;
  color: var(--very-dark-violet);
}
.card-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-container h3 {
  margin: 20px;
}

.card-icon {
  margin: 30px;
}

.how-we-work {
  position: relative;
  padding: 30px 20px 30px 20px;
  background-color: var(--dark-violet);
  background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  text-align: center;
  color: var(--very-light-grey);
  background-size: 25%;
  left: 5%;
  max-width: 90%;
}

footer {
  text-align: center;
  background-color: var(--very-light-grey);
  padding-top: 30px;
  margin-top: 60px;
  background-image: url(./images/bg-pattern-footer-mobile.svg);
  background-position: top left;
  background-repeat: no-repeat;
}

footer .greyline {
  width: 90%;
  margin-left: 5%;
}
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.bottom ul {
  display: flex;
  margin-top: 30px;
}

.footer-card {
  padding-top: 30px;
}
.footer-card h4 {
  color: var(--grayish-blue);
  padding: 10px;
}
.footer-card li {
  padding: 5px;
}
.footer-card a:active {
  background-color: var(--grayish-blue);
}

@media only screen and (min-width: 800px) {
  nav {
    margin-bottom: -20px;
  }

  nav ul {
    display: flex;
    gap: 10px;
  }

  button:hover {
    background-color: var(--very-light-grey);
    color: var(--very-dark-violet);
  }

  nav button {
    margin: -10px 0px 0px 0px;
    border-style: groove;
    border-color: var(--very-dark-violet);
    color: var(--very-dark-violet);
    background-color: var(--very-light-grey);
  }

  nav button:hover {
    background-color: var(--very-dark-violet);
    color: var(--very-light-grey);
  }

  a {
    color: var(--grayish-blue);
  }

  a:hover {
    color: var(--very-dark-violet);
  }

  .hamburger-icon {
    display: none;
  }

  .hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    background-color: var(--dark-violet);
    background-image: url(./images/bg-pattern-intro-left-desktop.svg),
      url(./images/bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    background-position: left bottom -200px, right top;
    background-size: 15%;
  }

  .hero-image {
    position: relative;
    transform: translate(0px, 20%);
    z-index: 1;
    padding-right: 70px;

    margin-left: 20px;
  }

  .hero-text-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    background: none;
    margin-left: 30px;
    text-align: left;
    max-width: 30%;
  }

  .hero-text-container .greyline {
    display: block;
    margin: 50px 0px 50px 0px;
    max-width: auto;
    align-self: left;
  }

  .hero-text-container button {
    display: block;
    max-width: fit-content;
    margin-left: 0px;
  }

  .about-us {
    margin-top: 100px;
    display: flex;
    text-align: left;
    margin-left: 100px;
    align-items: flex-start;
  }

  .cards {
    display: flex;
    position: relative;
    justify-content: space-around;
  }

  .card-container h3 {
    margin-left: 0px;
  }

  .card-icon {
    margin-left: 0px;
  }

  .how-we-work {
    display: flex;
    justify-content: space-around;
    background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
    align-items: center;
  }

  footer {
    background-image: none;
  }

  .bottom {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .bottom ul li {
    margin-right: 10px;
  }

  .bottom ul li:hover {
    background-color: var(--dark-violet);
  }

  .footer-card-container {
    display: flex;
    justify-content: space-around;
  }

  .footer-card a {
    color: var(--dark-violet);
  }

  .footer-card a:hover {
    text-decoration: underline;
  }

  body {
    max-width: 100%;
    min-width: 800px;
  }
}
