@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-vioolet: hsl(273, 4%, 51%);
  --very-light-grey: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

hgroup {
  font-family: "DM Serif Display", sans-serif;
}

ul {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

nav ul {
  display: none;
}

.hero {
  position: relative;
  text-align: center;
  color: var(--very-light-grey);
  /* background-image: url(./images/bg-pattern-intro-right-mobile.svg);
  background-position: bottom right;
  background-repeat: no-repeat; */
}

.hero-image {
  display: block;
}
.hero-text-container {
  top: -10px;
  position: relative;
  padding-top: 50px;
  padding-bottom: 200px;
  margin-bottom: 100px;
  background-color: var(--dark-violet);

  background-size: 30%;

  background-image: url(./images/bg-pattern-intro-left-mobile.svg),
    url(./images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  background-origin: padding-box;
  background-size: 30%;
}

button {
  background-color: var(--dark-violet);
  border-style: solid;
  border-color: var(--very-light-grey);
  padding: 10px 20px 10px 20px;
  margin: 20px;
  color: var(--very-light-grey);
  cursor: pointer;
}

.about-us {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greyline {
  position: absolute;

  height: 3px;
  background-color: var(--dark-grayish-vioolet);
  width: 200px;
  align-items: center;
}
.about-us-container {
  margin-top: 50px;
  margin-bottom: 50px;
  color: var(--very-dark-violet);
}
.card-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-container h3 {
  margin: 20px;
}

.card-icon {
  margin: 30px;
}

.how-we-work {
  position: relative;
  padding: 30px 20px 30px 20px;
  background-color: var(--dark-violet);
  background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  text-align: center;
  color: var(--very-light-grey);
  background-size: 25%;
  left: 5%;
  max-width: 90%;
}

footer {
  text-align: center;
  background-color: var(--very-light-grey);
  padding-top: 30px;
  margin-top: 60px;
  background-image: url(./images/bg-pattern-footer-mobile.svg);
  background-position: top;
  background-repeat: no-repeat;
}

footer .greyline {
  width: 90%;
  margin-left: 5%;
}
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
.bottom ul {
  display: flex;
  margin-top: 30px;
}

.footer-card {
  padding-top: 30px;
}
.footer-card h4 {
  color: var(--grayish-blue);
  padding: 10px;
}
.footer-card li {
  padding: 5px;
}
